.page-header{
  width:320px;
  margin:0 auto;
  //background-color:#283645;
  font: 18px/18px open_sans, sans-serif;
  color:white;

  background:
  bottom 250px center no-repeat url("../resources/img/img-opt/index/mobile/iphone-in-hand.png"),
  bottom 280px left no-repeat url("../resources/img/img-opt/index/mobile/back-mobile@1x.jpg");
  background-color: #283645;
}
.header-logo{
  min-height: 70px;
  border-bottom: 1px solid #000000;
  padding-left:20px;
  padding-top:20px;
}
.header-logo__img{
  fill:white;
  cursor:pointer;
  &:hover{
    fill:#d22856;
  }
  &:active{
    fill:#f1becc;
  }
}
.menu{
  position: relative;
}
.menu__toggle{
  position:absolute;
  top:-50px;
  right:15px;
  border:none;
  background:none;
  cursor: pointer;
}
.menu__toggle-svg{
  fill:white;
  &:hover{
    fill:#d22856;
  }
  &:active{
    fill:#f1becc;
  }
}
.menu__list{
  margin:0;
  padding:0;
  list-style: none;

}
.menu__item{
  border-bottom:1px solid black;
  border-top:1px solid #485461;

}
.menu__link{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  min-height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color:#d22856;
  }
  &:active{
    color:#6a757f;
  }
}
.download{
  margin-top: 396px;
  padding-left:20px;
  padding-right: 20px;
  padding-top:28px;
  background-color:#1d2631;
}
.download__title{
  display:none;
}
.download__itunes{
  margin-bottom:32px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  width:280px;
  color:white;
  font-weight: bold;
  text-decoration: none;
  border:3px solid white;
  border-radius:27px;
  &:hover{
    background-color:white;
    border:none;
    color:#d22856;
  }
  &:active{
    color:#f1becc;
  }
}
.download__list{
  margin:0;
  margin-bottom:25px;
  padding:0;
  list-style:none;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.download__item{

}
.download__link{
  color:white;


  span{
    display:none;
  }
  svg{

  }
}
.download__apple{
  svg{
    fill:white;
  }
}
.download__android{

}
.download__widows{

}
.download__description{
  font:14px/24px open_sans, sans-serif;
  text-align: center;
  padding-bottom:35px;
}
/*tablet****************************************************************************************/
@media all and (min-width: 660px) {
  .page-header{
    width:660px;
    min-height: 945px;
    //padding-bottom: 620px;
    background:
            bottom 0px center no-repeat url("../resources/img/img-opt/index/tablet/iphone-hand-tabl.png"),
            bottom 0px left no-repeat url("../resources/img/img-opt/index/tablet/header-back-tablet.jpg");
    background-color: #283645;
    margin-bottom:50px;
  }
  .header-logo{

  }
  .header-logo__img{

  }
  .menu{
  }
  .menu__toggle{
  }
  .menu__toggle-svg{
  }
  .menu__list{

  }
  .menu__item{

  }
  .menu__link{
  }
  .download{
    margin:0;
    margin-top:60px;
    background:none;
    width:300px;

  }
  .download__title{
    margin:0 auto;
    margin-bottom:30px;
    display: inherit;
    width:190px;
    font:40px/1.4 open_sans, sans-serif;
    text-align: center;
  }
  .download__itunes{
  }
  .download__list{
  }
  .download__item{

  }
  .download__link{


    span{
    }
    svg{

    }
  }
  .download__apple{
    svg{
    }
  }
  .download__android{

  }
  .download__widows{

  }
  .download__description{
  }
}