.information{
  margin-bottom:40px;
  padding-top:10px;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom:295px;
  background:
    no-repeat bottom -40px center url("../resources/img/img-opt/index/mobile/iphone screen.png"),
    no-repeat bottom  center url("../resources/img/img-opt/index/mobile/info-back-mob.svg");
}
.information__quest{
  margin-top:0;
  font-weight: normal;
  font-size:24px;
  line-height: 1.4;
  text-align: center;
}
.information__ans{
  font-weight: normal;
  font-size:24px;
  line-height: 1.4;
  text-align: center;
  margin-bottom:110px;
}
.information__list{
  margin:0;

  padding:0;
  list-style:none;
}
.information__item{

}
.information__iphone{
  display:none;
}
.information__iphone--mood{

}
.information__iphone--world{

}
.information__iphone--friends{

}
.information__h3{
  font: 18px/24px open_sans, sans-serif;
  font-weight: bold;
  text-align: center;
}
.information__description{
  margin:0;
  margin-top:-5px;
  //padding:0 15px;
  font: 14px/24px open_sans, sans-serif;
  font-weight: normal;
  text-align: center;
  margin-bottom:30px;
}
/*tablet***********************************************************************************/
@media all and (min-width: 660px) {
  .information{
    min-height:725px;
    background:
            no-repeat bottom -70px left 20px url("../resources/img/img-opt/index/tablet/iphone-hello-tabl.png"),
            no-repeat bottom -270px  center url("../resources/img/img-opt/index/mobile/info-back-mob.svg");
  }
  .information__quest{
    font:40px/1.2 open_sans, sans-serif;
    //width:590px;
    margin: 0 auto;
  }
  .information__ans{
    font:40px/1.2 open_sans, sans-serif;
    width:340px;
    margin:0 auto;
  }
  .information__list{
    width:310px;
    float:right;
    margin-top:70px;
  }
  .information__item{

  }
  .information__iphone{
  }
  .information__iphone--mood{

  }
  .information__iphone--world{

  }
  .information__iphone--friends{

  }
  .information__h3{
    text-align: left;
  }
  .information__description{
    text-align: left;
  }
}
/*desktop***********************************************************************************/
@media all and (min-width: 1200px) {
  .information{
  }
  .information__quest{
  }
  .information__ans{
  }
  .information__list{
  }
  .information__item{

  }
  .information__iphone{
  }
  .information__iphone--mood{

  }
  .information__iphone--world{

  }
  .information__iphone--friends{

  }
  .information__h3{
  }
  .information__description{
  }
}